<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bigdata.scriptbox.mapper.ScenarioStepMapper">

    <select id="selectByScenarioIdOrderByStep" resultType="com.bigdata.scriptbox.entity.ScenarioStep">
        SELECT * FROM scenario_step WHERE scenario_id = #{scenarioId} ORDER BY step_no ASC
    </select>

    <delete id="deleteByScenarioId">
        DELETE FROM scenario_step WHERE scenario_id = #{scenarioId}
    </delete>

</mapper>